__pycache__/
.ipynb_checkpoints/
imgs/.ipynb_checkpoints/
/pytorchCycleGANandPix2Pix/.ipynb_checkpoints/
/pytorchCycleGANandPix2Pix/__pycache__/
/pytorchCycleGANandPix2Pix/util/__pycache__/
/pytorchCycleGANandPix2Pix/util/.ipynb_checkpoints/
/pytorchCycleGANandPix2Pix/options/__pycache__/
/pytorchCycleGANandPix2Pix/options/.ipynb_checkpoints/
/pytorchCycleGANandPix2Pix/models/__pycache__/
/pytorchCycleGANandPix2Pix/models/.ipynb_checkpoints/
/pytorchCycleGANandPix2Pix/data/__pycache__/
/pytorchCycleGANandPix2Pix/data/.ipynb_checkpoints/
/pytorchCycleGANandPix2Pix/docs/__pycache__/
/pytorchCycleGANandPix2Pix/docs/.ipynb_checkpoints/
/pytorchCycleGANandPix2Pix/datasets/__pycache__/
/pytorchCycleGANandPix2Pix/datasets/.ipynb_checkpoints/
/datasets/lips/.ipynb_checkpoints/
/datasets/lips/raw2nanguase/trainA/.ipynb_checkpoints/
/datasets/lips/raw2nanguase/trainB/.ipynb_checkpoints/
/datasets/lips/raw2niuxuese/trainA/.ipynb_checkpoints/
/datasets/lips/raw2niuxuese/trainB/.ipynb_checkpoints/
/datasets/lips/raw2yinghuafen/trainA/.ipynb_checkpoints/
/datasets/lips/raw2yinghuafen/trainB/.ipynb_checkpoints/
/datasets/eyes/left/raw2shenlanse/trainA/.ipynb_checkpoints/
/datasets/eyes/left/raw2shenlanse/trainB/.ipynb_checkpoints/
/datasets/eyes/right/raw2shenlanse/trainA/.ipynb_checkpoints/
/datasets/eyes/right/raw2shenlanse/trainB/.ipynb_checkpoints/
/datasets/eyes/right/raw2yamajin/trainA/.ipynb_checkpoints/
/datasets/eyes/right/raw2yamajin/trainB/.ipynb_checkpoints/
/datasets/eyes/left/raw2yamajin/trainA/.ipynb_checkpoints/
/datasets/eyes/left/raw2yamajin/trainB/.ipynb_checkpoints/
/facetools/__pycache__/
/facetools/.ipynb_checkpoints/
/facetools/parsing/__pycache__/
/facetools/parsing/.ipynb_checkpoints/
/facetools/parsing/cp/.ipynb_checkpoints/
/facetools/backbone/__pycache__/
/facetools/align/__pycache__/
/facetools/util/__pycache__/
/facetools/util/.ipynb_checkpoints/
/facetools/imgs/
/facetools/.git/
/facetools/.gitignore
/pytorchCycleGANandPix2Pix/imgs/
/pytorchCycleGANandPix2Pix/.git/
/pytorchCycleGANandPix2Pix/.gitignore
/pytorchCycleGANandPix2Pix/checkpoints/raw2shenlanse-left/*.pth
!/pytorchCycleGANandPix2Pix/checkpoints/raw2shenlanse-left/latest_net_G.pth
/pytorchCycleGANandPix2Pix/checkpoints/raw2shenlanse-left/web/
/pytorchCycleGANandPix2Pix/checkpoints/raw2shenlanse-left/*.txt
/pytorchCycleGANandPix2Pix/checkpoints/raw2shenlanse-right/*.pth
!/pytorchCycleGANandPix2Pix/checkpoints/raw2shenlanse-right/latest_net_G.pth
/pytorchCycleGANandPix2Pix/checkpoints/raw2shenlanse-right/web/
/pytorchCycleGANandPix2Pix/checkpoints/raw2shenlanse-right/*.txt
/pytorchCycleGANandPix2Pix/checkpoints/raw2yamajin-left/*.pth
!/pytorchCycleGANandPix2Pix/checkpoints/raw2yamajin-left/latest_net_G.pth
/pytorchCycleGANandPix2Pix/checkpoints/raw2yamajin-left/web/
/pytorchCycleGANandPix2Pix/checkpoints/raw2yamajin-left/*.txt
/pytorchCycleGANandPix2Pix/checkpoints/raw2yamajin-right/*.pth
!/pytorchCycleGANandPix2Pix/checkpoints/raw2yamajin-right/latest_net_G.pth
/pytorchCycleGANandPix2Pix/checkpoints/raw2yamajin-right/web/
/pytorchCycleGANandPix2Pix/checkpoints/raw2yamajin-right/*.txt
/pytorchCycleGANandPix2Pix/checkpoints/raw2niuxuese/*.pth
!/pytorchCycleGANandPix2Pix/checkpoints/raw2niuxuese/latest_net_G.pth
/pytorchCycleGANandPix2Pix/checkpoints/raw2niuxuese/web/
/pytorchCycleGANandPix2Pix/checkpoints/raw2niuxuese/*.txt
/pytorchCycleGANandPix2Pix/checkpoints/raw2nanguase/*.pth
!/pytorchCycleGANandPix2Pix/checkpoints/raw2nanguase/latest_net_G.pth
/pytorchCycleGANandPix2Pix/checkpoints/raw2nanguase/web/
/pytorchCycleGANandPix2Pix/checkpoints/raw2nanguase/*.txt
/pytorchCycleGANandPix2Pix/checkpoints/raw2yinghuafen/*.pth
!/pytorchCycleGANandPix2Pix/checkpoints/raw2yinghuafen/latest_net_G.pth
/pytorchCycleGANandPix2Pix/checkpoints/raw2yinghuafen/web/
/pytorchCycleGANandPix2Pix/checkpoints/raw2yinghuafen/*.txt

